{if condition="$Think.cookie.isExpand == 'off'"}
<div class="layui-body" style="left:0px;">
{else/}
<div class="layui-body">
{/if}
	<div class="layui-tab-content">
		<fieldset class="layui-elem-field layui-field-title">
			<legend>网站配置</legend>
		</fieldset>
		<form class="layui-form" action="{:url('@system/editSetting')}" method="post">
			<input type="hidden" name="id" value="{$settingInfo.id}" />
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 86px">网站标题</label>
				<div class="layui-input-inline" style="">
					<input type="text" name="website_title" value="{$settingInfo.website_title}" placeholder="网站标题" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label" style="width: 86px">版权声明</label>
				<div class="layui-input-inline">
					<textarea name="copyright" placeholder="版权声明内容" class="layui-textarea">{$settingInfo.copyright}</textarea>
				</div>
			</div>
			<div class="layui-form-item submit-item" style="min-width: 300px">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit="">立即保存</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
</div>
<style>
	.layui-input-inline{
		position: relative !important;
		width:90% !important;
		padding: 0px !important;
		float: right !important;

	}
	.layui-form-label{
		position: relative !important;
		float: left !important;
		margin: 0px !important;
	}
</style>