{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>404找不到页面</title>
<style>
	body{
		text-align: center;
	}
	a{
		font-size: 18px;
		color:#5079bb;
		text-decoration: none;
		background-color: #eee;
		padding: 0 10px;
		height: 34px;
		line-height: 34px;
		border-radius:4px;
		display: inline-block;
	}
	a:hover{
		text-decoration: underline;
	}
</style>
</head>
<body>
	<p style="text-align:center;line-height:80px;font-size:24px;">404 找不到页面</p>
	<a href="javascript:history.go(-1)">返回上一页</a>
</body>
</html>