<title>[title]</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--适配-->
<!--WebApp全屏模式：-->
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!--注意：viewport 后面加上 minimal-ui 在safri 体现效果-->
<meta name="apple-mobile-web-app-capable" content="yes" />

<!--隐藏状态栏/设置状态栏颜色：-->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<!--safri 添加到主屏界面的显示标题：-->
<meta name="apple-mobile-web-app-title" content="你会读又双叒叕吗？">
<!--忽略自动识别数字为电话号码：-->
<meta content="telephone=no" name="format-detection" />
<!--忽略自动识别邮箱账号：-->
<meta content="email=no" name="format-detection" />


<!--某某浏览器强制全屏-->
<meta name="mobile-web-app-capable" content="yes">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">

<!-- 是针对一些老的不识别viewport的浏览器，列如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">

<!--禁止百度转码显示。-->
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link href="__IMG__/system/dd.ico" rel="shortcut icon">
<link rel="stylesheet" href="__COMMON__/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="__COMMON__/layui/css/layui.css" />
<link rel="stylesheet" href="__CSS__/system/common.css?v={$VERSION}" />
<script src="__COMMON__/jquery-3.1.1.min.js"></script>
<script src="__COMMON__/layui/layui.js"></script>
<script src="__COMMON__/cookie.js"></script>

<link rel="stylesheet" href="__COMMON__/bootstrap/bootstrap.min.css" />
<script src="__COMMON__/bootstrap/bootstrap.min.js"></script>

<link rel="stylesheet" href="__COMMON__/animate.css" />
<script src="__COMMON__/wow.min.js"></script>

<script src="__COMMON__/less.js"></script>